<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<title></title>
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-success navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/singles">Singles</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/albums">Albums</a>
			</li>
		</ul>
	</nav>
	<div class="jumbotron text-center">

		<h1>You've come to the right place!</h1>
		<h6>..if you want to see a static, hard coded top 10 singles and
			albums charts.</h6>
		<br />
	</div>

	<div class="container">
		<p>
	</div>

</body>
</html>